<div class="login-container">
	<div id="output"></div>

	

	<div class="alert alert-success animated fadeInUp">Success, d000d!</div>

	<div class="alert alert-danger animated fadeInUp">Failed, d000d!</div>
	
	<div class="form-box">
		<form action="" method="">
			Need to register? Try <code>!identify</code> from #smc to get your password.
			<HR />
			<input name="user" type="text" placeholder="nick">
			<input type="password" placeholder="password">
			<button class="btn btn-info btn-block login" type="submit">Login</button>
		</form>
	</div>
</div>